name: Build and Release

on:
  push:
    branches:
      - main   # Se ejecuta cada vez que hay push a main
  workflow_dispatch:  # Permite ejecución manual

permissions:
  contents: write

jobs:
  build:
    name: Build App (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        python-version: ['3.11']

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Install PyInstaller
      run: |
        pip install pyinstaller

    - name: Build with PyInstaller
      run: |
        pyinstaller --name="AppRenamer" --windowed --onefile --icon="Icon.ico" main.py
      shell: bash

    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: AppRenamer-${{ matrix.os }}-py${{ matrix.python-version }}
        path: |
          dist/AppRenamer*
          dist/*.exe
          dist/*.pkg
          !dist/**/*.py

  release:
    name: Create Release
    needs: build
    runs-on: ubuntu-latest
    # Eliminamos la condición de tags
    steps:
    - name: Download all artifacts
      uses: actions/download-artifact@v4
      with:
        path: artifacts

    - name: Create Release
      uses: softprops/action-gh-release@v2
      with:
        files: |
          artifacts/**/*.exe
          artifacts/**/AppRenamer
        generate_release_notes: true
        fail_on_unmatched_files: true
        overwrite_files: true
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}